<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="main-container">
        <div class="navbar">
            <nav class="nav-links">
                <a href="#about">About</a>
                <a href="#skills">Skills</a>
                <a href="#interests">Interests</a>
                <a href="#projects">Projects</a>
                <a href="#contact">Contact</a>
            </nav>
        </div>
        <div class="content-container">
            <header>
                <div id="top"></div>
                <div id="header-container">
                    <div id="main-header">
                        <h1>Olga Neiasova</h1>
                        <p>Software Developer</p>
                        <h2>My Portfolio</h2>
                    </div>
                    <div id="hero-img-container">
                        <img id="hero-img" src="../static/20220629_104415_1.jpg" alt="my photo">
                    </div>
                </div>
            </header>
            <section class="section about-me">
                <div id="about"></div>
                <h2><br>About Me</h2>
                <p>I am learning web development to build great applications</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, explicabo aut, nulla soluta aliquam facilis nostrum possimus sint, eos natus odit deserunt debitis itaque consectetur! Unde neque reiciendis dolorum aliquam?</p>
            </section>
            <section class="section my-skills">
                <div id="skills"></div>
                <h2><br>My Skills</h2>
                <ul>
                    <li>Python</li>
                    <li>HTML</li>
                    <li>CSS</li>
                </ul>
                <p>Languages: English, Russian, and French /intermediate/</p>
                <div id="cv-link">
                    <p>Click here to see my CV: <a href="../static/neiasova_cv.pdf" target="_blank"><img id="pdf-icon" src="../static/pdf_icon.png" alt="pdf icon"></a></p>
                </div>
            </section>
            <section class="section interests">
                <div id="interests"></div>
                <h2><br>My Interests</h2>
                <p>Music /I'm learning to play bass guitar/</p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam laboriosam, labore perspiciatis amet minima similique ducimus blanditiis necessitatibus ex nemo rem animi. Ratione voluptatem ullam cum earum, quas nobis dolorum.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, officiis ad. Reiciendis odit similique, excepturi consequatur explicabo maiores nisi provident iure, numquam nam optio quia tempora dicta dolore eaque ipsa?Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            </section>
            <section class="section projects">
                <div id="projects"></div>
                <h2><br>My Projects</h2>
                <div class="projects-container">
                    <div class="project pr-1"><a class="project-link" href="project.html" target="_blank">My Project</a></div>
                    <div class="project pr-2"><a class="project-link" href="https://46.101.78.233" target="_blank">My Website</a></div>
                    <div class="project pr-3"><a class="project-link" href="#top">My App (coming soon)</a></div>
                </div>
            </section>
        <section class="section contact">
            <div id="contact"></div>

            <p><br>Contact me at: <a href="mailto:olga_neyasova@yahoo.com">olga_neyasova@yahoo.com</a></p>
            <p>Or send me a message here:</p>
            <div class="form-container">
                <form action="#top">
                    <label for="name">Name</label><br>
                    <input type="text" id="name" name="name" placeholder="Your name..."><br>
                    <label for="surname">Last name</label><br>
                    <input type="text" id="surname" name="surname" placeholder="Your last name..."><br>
                    <label for="message">Your message</label><br>
                    <textarea name="message" id="message" placeholder="Write something..."></textarea><br><br>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </section>
        <footer class="footer">
            <p>&copy; 2024 Olga Neiasova</p>
        </footer>
    </div>
</div>

    
</body>
</html>